.navbar{
  width: 100%;
  height: fit-content;
  background-color:#198754 ;

}
.navbar a{
  color: #e9ecef;
  text-decoration: none;   
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}
.navbar a:hover {
  color: white;
}


@media screen and (max-height: 450px) {
  .navbar {padding-top: 10px;}
  .navbar a {font-size: 10px;}
}
.navbar .signout-link{
  bottom: 10px;
}

.footer{
background-color: #198754;
padding: 70px 0;
margin-bottom: 0%;
}

.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: white;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: bold;

}
.footer-col h4::before{

left:0;
bottom: -10px;
background-color: white;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li{
margin-bottom: 10px;
margin-left: -25px;
list-style-type: none;
//text-align: left;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
text-decoration: none;
font-weight: 300;
color: #e9ecef;

vertical-align: left;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: white;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #e9ecef;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #5B5750;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}

.card-header, .card-body, .card-text, .card-footer{
  text-align: center;
}
.card-text{
  padding-top: 2%;
  padding-bottom: 2%;
}