<h3>The shops whose services are available are listed below:-</h3>
<div class="container">
    <table>
        <thead>
          <tr>
            <th>Shop Name</th>
            <th>Opening Time(A.M)</th>
            <th>Closing Time(P.M)</th>
            <th>Location</th>
            <!-- changes done from here -->
            <th>Medicine Name</th>
            <th>Price(in Rs.)</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let shop of shops">
            <td>{{ shop.ShopName }}</td>
            <td>{{ shop.OpeningTime }}</td>
            <td>{{ shop.ClosingTime }}</td>
            <td><a href="{{ shop.Location }}">Click here</a></td>
            <td>{{shop.MedicineName}}</td>
            <td>{{shop.Price}}</td>
            <td>
              <div class="button-container">
                <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal" (click)="onEdit(shop)"><i class="fa fa-edit"></i></button>
                <button class="delete-btn" (click)="deleteItem(shop._id)"><i class="fa fa-trash"></i></button>
              </div>

            </td>

            
          </tr>
        
        </tbody>
      </table><br>
      <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#storeModal">
        <i class="fa fa-plus"></i> Add Store
        </button>
      </div><br>

</div>



<!-- Add Store Modal -->
<div class="modal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="storeModalLabel">Add New Store</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="add()">
          <div class="form-group">
            <label for="ShopName">Shop Name:</label>
            <input type="text" class="form-control" formControlName="ShopName" id="ShopName">
          </div>
          <div class="form-group">
            <label for="OpeningTime">Opening Time:</label>
            <input type="time" class="form-control" formControlName="OpeningTime" id="OpeningTime">
          </div>
          <div class="form-group">
            <label for="ClosingTime">Closing Time:</label>
            <input type="time" class="form-control" formControlName="ClosingTime" id="ClosingTime">
          </div>
          <div class="form-group">
            <label for="Location">Location:</label>
            <input type="text" class="form-control" formControlName="Location" id="Location">
            <div *ngIf="isLocationControlInvalid()" class="text-danger">
              Invalid location format. Please enter a valid Google Maps location for Gurgaon, Haryana.
            </div>
          </div>
        
          <div class="form-group">
            <label for="MedicineName">Medicine Name:</label>
            <input type="text" class="form-control" id="MedicineName" formControlName="MedicineName">
          </div>
          <div class="form-group">
            <label for="Price">Price(in Rs.):</label>
            <input type="number" class="form-control" id="Price" formControlName="Price">
          </div>
        </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="click()">Add</button>
      </div>
    </div>
  </div>
</div>



<!-- Edit store details-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Store Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm">
          
          <div class="form-group">
            <label for="MedicineName">Medicine Name</label>
            <input type="text" class="form-control" formControlName="MedicineName" id="MedicineName" multiple>
          </div>
          <div class="form-group">
            <label for="Price">Price(in Rs.)</label>
            <input type="number" class="form-control" formControlName="Price" id="Price" multiple>
          </div>
        
        </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="editDetails()">Edit </button>
      </div>
    </div>
  </div>
</div>
