<h3>The shops whose services are available are listed below:-</h3>
<div class="container">
    <table>
        <thead>
          <tr>
            <th>Shop Name</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>BL MEDICAL STORE</td>
            <td>9.00 A.M</td>
            <td>10.00 P.M</td>
            <td>https://goo.gl/maps/ekeCD1RpBepoeY9y9</td>
            
          </tr>
          <tr >
            <td>Pal Medical Store</td>
            <td>9.00 A.M</td>
            <td>10.00 P.M</td>
            <td>https://goo.gl/maps/ekeCD1RpBepoeY9y9</td>
            
          </tr>
          <tr >
            <td>Sital Medical Store</td>
            <td>9.00 A.M</td>
            <td>10.30 P.M</td>
            <td>https://goo.gl/maps/cEDzAPhqgfejNWLK7</td>
            
          </tr>
        </tbody>
      </table>

</div>

<br><br>
<h3>The medicines available are listed below:-</h3>
<div class="container">
  <table>
      <thead>
        <tr>
          <th>Shop Name</th>
          <th>Medicine Name</th>
          
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>BL MEDICAL STORE</td>
          <td><ul><li>PCM</li><li>Cought Syrup</li></ul></td>
          
          
        </tr>
        <tr >
          <td>Pal Medical Store</td>
          <td><ul><li>PCM</li><li>Cought Syrup</li></ul></td>
          
        </tr>
        <tr >
          <td>Sital Medical Store</td>
          <td><ul><li>PCM</li><li>Cought Syrup</li></ul></td>
          
        </tr>
      </tbody>
    </table>

</div><br><br>
