/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;

  border: 1px solid #ccc;
  /*background: #f1f1f1;*/
}

input[type=text]:focus, input[type=password]:focus {
 /* background-color: #ddd;*/
  
  border: 1px solid #ccc;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn {
    float: left;
    width: 20%;
    margin-left: 30%;
  }
  .signupbtn{
    float: left;
    width: 20%;

  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}

.signupForm{
    display: flex;
    //flex-direction: column;
    justify-content: center;
    height: 100vh;
    float: left;
    width: 50%;
    align-items: center;
    font-family: "Inter";
    padding: 30px;
    align-items: center;
    
}
.images{
  display: flex;
  width: 50%;
  padding: 30px;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
}
.form-group label span {
  color: red;
  font-weight: bold;
  margin-left: 3px;
}
.err_mess{
  color: red;
}

.custom-button {
  width: 150px; /* Set the desired width for the buttons */
  height: 40px; /* Set the desired height for the buttons */
  margin: 5px; /* Optional: Add margin for spacing between buttons */
  padding: 10px;
}