<div class="bg-image d-flex justify-content-center align-items-center image">
    <div class="container">
        <div class="mb-3 display-5  mb-4 font-weight-bold text-center">Your Trusted Companion in Medicine Exploration</div><br>
      
    </div>
  </div>
  <div class="container mt-5">
    <div class="row m-2">
        <div class="col-6 col-sm-6 p-2 ">
            <h2> Unlocking Medicine Information at Your Fingertips</h2>
       
            <h2>Simplify Your Medicine Search with Medicine Finder</h2>
        </div>
    </div>
  
</div>

<br><br>
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Ready to take a free trial?</h1>
    </div>
    <div class="font-weight-light mb-4 text-center">
        <h2 class="font-weight-light"> You can login to search for the medicine available on the nearby shops.
        </h2>
    </div>
    <div class=" mt-5 text-center">
        <h1 class="display-6">Subscribe for free</h1>
    </div>
    
</div>
<br>
<div class="container mt-5 pt-3">
    <div class="row m-4 pt-3">
        <div class="col mb-3 me-3 ms-3">
            <img src="https://st.depositphotos.com/1052036/2839/v/450/depositphotos_28390633-stock-illustration-bottle-pouring-medicine-syrup-in.jpg" class="img-fluid" height="200">
        </div>
        <div class="col mb-3 me-3 ms-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Description</a>
                </li>
             
            </ul>
            <div>
                Welcome to Medicine Finder, your comprehensive portal for accessing information about medicines available at local shops. Our platform connects you with a vast database of medications, making it easy to find the specific medicine you need in your area. 
                With detailed information on dosages, side effects, and precautions, we provide you with the knowledge to make informed decisions about your healthcare. Whether you're searching for a specific brand or a generic alternative, Medicine Finder ensures that you have access to a wide range of medicines right at your fingertips. 
                Say goodbye to long searches and uncertainty—discover the convenience and reliability of Medicine Finder today.
             
            </div>
        </div>
    </div>
</div>
<br>


<div class="container mt-5 pt-3">
    <div class="row m-4 pt-3">
        <div class="col mb-3 me-3 ms-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <b>Feature #1</b>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            One of the key features of Medicine Finder is its extensive medication database. 
                            We have compiled a comprehensive collection of medicines available at local shops, ensuring that you can find information on a wide range of medications all in one place. 
                            Our database is regularly updated to provide you with the most accurate and up-to-date information.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <b>Feature #2</b>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            With Medicine Finder, you can easily search for a specific medication by its name or browse through various categories to explore different types of medicines. 
                            Each medication entry provides detailed information such as dosage instructions, potential side effects, precautions, and any additional relevant information.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <b>Feature #3</b>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Our commitment to maintaining a robust medication database enables you to access vital details about the medicines you require, empowering you to make informed decisions about your health and well-being. 
                            Whether you are a healthcare professional, a caregiver, or an individual seeking specific medications, our extensive database is here to assist you in finding the right information you need.
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-3 me-3 ms-3">
            <img src="https://kalingatv.com/wp-content/uploads/2019/12/cough-syrup-750x430.jpg" class="img-fluid" alt="medicine Image">
        </div>
    </div>
</div>


<br>
<div class="container mt-5 pt-3">
    <div class="font-weight-light mb-4 text-center">
        <h2 class="font-weight-light">Discover the power of knowledge and accessibility with Medicine Finder, your ultimate resource for finding and exploring medicines available at local shops.
        </h2>
    </div>
</div>
<br>
<div class="container mt-5 pt-3 mb-5 pb-3">
    <div class="text-center mb-4 ">
        <h1 class="display-4">You're at Right Place!</h1>
    </div>
    <div class="mb-4 text-center">
        <h2 class="font-weight-light">Connecting You to Local Medicine Resources.
        </h2>
    </div><br>
    <div >
     <h5><b>Let's Explore the Shops with Medicines</b></h5>
     <p>Many Shops many medicines.</p>
     <p>Dive into the world of medicines.</p>
     <button class="btn btn-danger btn_started" type="submit" (click)=navigateToShop()>Get Started</button>
    </div>
          
        
</div><br><br>
