
body{
    display: flex;
    flex-direction: column;
  
  }
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin:auto;
}
.btn{
    margin-top: 5px;
    padding: 10px;
}