
<h4>The medicines available in the  shops are as follows:</h4>

<div class="container">
    <a class="card2" *ngFor="let shop of shops ,index as i">
      <h3>Shop No.{{i+1}}</h3>
      <p class="small" >
        <b>ShopName:</b>{{ shop.ShopName }}<br>
        <b>Medicines:</b>{{ shop.MedicineName }}<br>
        <b>Price(in Rs.):</b>{{ shop.Price }}
      </p>
      
      <div class="go-corner" >
        <div class="go-arrow">
          <a href="{{ shop.Location }}">→</a>
        </div>
      </div>
    </a>
</div>

