<div class="box">
    <p class="heading">FAQs and Customer Support</p>
    <div class="faqs">
       <details>
          <summary class="first"><b>Login</b></summary>
          <details>
              <summary >Forgot my username</summary>
              
                  <ul>
                  <li>If you are here as part of medicine finder Customer try filling the form in the contact page ,we will get back to you with possible solutions.</li>
                </ul>
          </details>
        
          
       </details>
       <details>
          <summary class="first"><b>Medicine</b></summary>
          <details>
             <summary>
                Payment Related
             </summary>
             <details>
                <summary>Discount not appplied</summary> 
                <ul>
                   <li>Their is no Discount on Medicine , you have to pay only that show</li>
                   <li>No extra charges </li>
                </ul>
               </details>
          </details>
          

       </details>
       <details>
          <summary class="first"><b>Consultation</b></summary>
          <details>
             <summary> Can I take online consultation for emergencies?</summary>
             <ul>
                <li>No. This site is for primary care.</li>
             </ul>
          </details>
          <details>
             <summary>What medicines do you prescribe?</summary>
             <ul>
                <li> We do not prescribe anything on our own. The shopkeepers might suggest with the best solution.But we mainly work on prescription provided by your doctor. </li>
             </ul>
          </details>
       </details>
       <details>
        <summary class="first"><b>How do I create an account?</b></summary>
        <ul>
           <li>You need to first sign up on the website and you will be directed to Login page and then you will have the access to website.</li>
        </ul>
     </details>
     
     <details>
        <summary class="first"><b>Feedback</b></summary>
        <p>please leave a Feedback in the contact us form.</p>
     </details>
    </div>
    
 </div>
